<p>header works!</p>
<div class="section-1">
    <div class="header"> 
        <a href="#" class="logo">Covet</a>
        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Planes</a>
            <a routerLink="">Reserva</a>
            <span routerLink= "login" routerLinkActive="router-link-active"  ><button class="inireg-button">Iniciar sesion</button></span>
            <span routerLink= "register"><button class="inireg-button-2">Registrarse</button></span>
        </nav>
    </div>       

    <!-- <button (click)="navegar()">Enterate Aqui</button> -->
